.search-product {
  width: 3/12 * 100%;

  input {
    width: 80%;
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid $color-2;
    padding: 10px;
  }
  button {
    width: 20%;
    height: 30px;
    background-color: $color-2;
    border: 1px solid $color-2;
    border-radius: 0px 5px 5px 0px;
  }
}
